/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */

body {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.card {
    height: 500px;
    width: 270px;
    overflow: hidden;
    box-shadow: 0 2px 20px grey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}
.card__image {
    height: 12rem;
    width: 100%;
    /* background: url("../player.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__team {
    height: 14rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    /* background: url("../Team.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__staff {
    height: 14rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    /* background: url("../staff.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__title {
    padding: 1rem;
    text-align: center;
}

.card__number {
    padding: 0 1rem;
    text-align: center;
}

.card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid green;
    background: transparent;
    color: green;
    border-radius: 5%;
    /* transition: background 200ms ease-in, color 200ms ease-in; */
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .card__btn,
.card:hover .card__circle {
    background: green;
    color: white;
}

.card__circle {
    border: 3px solid black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 5rem; */
    background: white;
    justify-content: flex-end;
}

.logo {
    position: fixed;
    max-width: 90vw;
    height: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.home {
    height: 100vh;
}

.nav_bg {
    height: 7vh;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 2;
}

.first-page {
    height: 100vh;
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    justify-content: space-around;
}

.first-page h1 {
    font-size: 3em;
    text-align: center;
    padding: 2em;
}

.connections {
    height: 70%;
}

.second-page {
    min-height: 100vh;
    background-color: rgb(22, 22, 22);
}

.second-page h2 {
    color: white;
    font-size: 3em;
    padding: 2em;
    text-align: center;
}

.card_cnt {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
.card_cnt > div {
    width: 100%;
}

.second-page_card {
    color: white;
    width: 25%;
    height: 25em;
    border: 2px solid white;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    position: fixed;
    padding: 1rem 5rem;
    z-index: 3;
}
a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-left: 5rem;
    z-index: 2;
}

