/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */

body {
    margin: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 16rem));
    gap: 5rem;
    justify-content: center;
}

.card {
    height: 500px;
    width: 20em;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 20px grey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    align-items: center;

}

.card__player {
    height: 12rem;
    width: 20rem;   
    background: url("/images/icon 4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__team {
    height: 12rem;
    width: 20rem;
    /* background-image: url("/images/backk.png"); */
    background: url("/images/icon1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__staff {
    height: 12rem;
    width: 20rem;
    background: url("/images/icon 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__body__bg {
    /* position: absolute;   */
    height: 12rem;
    width: 20rem;
    background: url("/images/backk.png");
}

.card__title {
    padding: 1rem;
    text-align: center;
}

.card__number {
    padding: 0 1rem;
    text-align: center;
}

.card__btn {
    padding: 1em;
    width: 80%;
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5%;
    /* transition: background 200ms ease-in, color 200ms ease-in; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(106,212,219);
    transition: ease-out 0.4s;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card__circle {
    background: rgb(106,212,219);
    box-shadow: inset 2em 0 0 0 rgb(106,212,219);
}
.card:hover .card__btn,
.card:hover .card__circle,
.card:focus .card__btn {
    
    color: white;
    border: 2px solid black;
    box-shadow: inset 15.8em 0 0 0 rgb(106,212,219);
}


.card:hover .card__number {
    color: white;
}

.card__circle {
    border: 3px solid black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: inset 0 0 0 0 rgb(106,212,219);
    transition: ease-out 0.4s;
}

.login {
    height: 25em;
    display: flex;
    flex-direction: column;
    margin: 20em auto;
    width: 20em;
    align-items: center;
    border: 5px solid black;
    padding: 1em 2em;
}

.login__container {
    display: flex;
    flex-direction: column;
}
  
.login__title    {
    color: black;
    text-align: center;
    padding: 0.5em 0;
}

.login__button {
    height: 3.5em;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5%;
    /* transition: background 200ms ease-in, color 200ms ease-in; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(106,212,219);
    transition: ease-out 0.4s;
    font-family: "Cornerstone", sans-serif;
}

.login__button:hover {
    color: white;
    border: 2px solid black;
    box-shadow: inset 15.8em 0 0 0 rgb(106,212,219);
}

.login input {
    width: 15em;
}


.login label {
    font-size: 0.9em;
    color: gray;
    margin-right: 2em;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;  
}

input:invalid[focused="true"] ~ span{
    display: block;
}

.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
  }
  
  input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  
  label{
    font-size: 12px;
    color: gray;
  }
  
  span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }
  
  input:invalid[focused="true"]{
    border: 1px solid red;
  }
  
  input:invalid[focused="true"] ~ span{
    display: block;
  }

.register {
  height: 45em;
  display: flex;
  flex-direction: column;
  margin: 20em auto;
  width: 25em;
  align-content: center;
  align-items: center;
  border: 5px solid black;
  padding: 1em 3em;
  justify-content: center;
  justify-items: center;
}
  
h1 {
  color: black;
  text-align: center;
}

  
.register__button {
  height: 3.5em;
  width: 80%;
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem;
  border: 2px solid black;
  background: transparent;
  color: black;
  border-radius: 5%;
  /* transition: background 200ms ease-in, color 200ms ease-in; */
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(106,212,219);
  transition: ease-out 0.4s;
  font-family: "Cornerstone", sans-serif;
} 

.register__button:hover {
  color: white;
  border: 2px solid black;
  box-shadow: inset 15.8em 0 0 0 rgb(106,212,219);
}

.register input {
  width: auto;
}

.login__redirect {
  color: grey;
  font-size: 1.5em;
}

.login__redirect:hover {
  color: rgb(106,212,219);
}
.UI_cnt {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/backk.png?3312ff5c1ce3b46b2a36b7dda7cc9e89);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UI_card__title {
  font-size: 3em;
  transition: ease-out 0.6s;
}

.UI_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 0 1em; */
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  color: white;
  height: 50vh;
  background-color: black;
  box-shadow: inset 0 0 0 0 rgb(106, 212, 219);
  transition: ease-out 0.4s;
  cursor: pointer;
}



.UI_card:hover {
  box-shadow: inset 0 0 0 210px rgb(106, 212, 219);
}
.UI_card:hover .UI_card__button {
  background-color: black;
}

.UI_card:hover .UI_card__title {
  color: black;
}

.UI_card button {
  width: 50%;
  color: white;
  border: 2px solid white;
  height: 35px;
}

.UI_toggle_cnt {
  display: flex;
  margin: 2em auto;
  justify-content: center;
  width: 5em;
}

.UI_toggle_button {
  display: flex;
  justify-self: center;
  margin: 0 auto;
  justify-content: center;
}

.UI_title {
  color: white;
  padding-top: 1.5em;
  font-size: 40px;
}
.UI_title__text {
    color: rgb(106, 212, 219) !important;
  }
.UI_card__cnt {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    src: url('/fonts/Cornerstone.ttf');
    font-family: "Cornerstone";
}

body {
    margin: 0;
    font-family: 'Cornerstone', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} */

nav {
    display: flex;
    justify-content: space-between;
    background: white;
    justify-content: flex-end;
}

.logo {
    position: fixed;
    max-width: 90vw;
    height: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    
}

.logo-fixed {
    position: fixed;
    width: 15%;
    height: 15%;
    top: 1.5rem;
    left: 0;
    transform: translate(-0%, -45%);
    z-index: 3;
}

.home {
    height: 100vh;
    background-color: black;
}

.nav_bg {
    height: 10gvh;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 2;
}

.first-page {
    height: 120vh;
    background-image: url(/images/backround.svg?1b0925b30232e0adf15d10d190083f2a);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.first-page h1 {
    font-size: 3em;
    text-align: center;
    padding: 2em;
    color: white;
}

.connections {
    height: 70%;
}

.connections_header_text {
   color: rgb(106,212,219);
}

.second-page {
    min-height: 100vh;
    background-color: black;
}

.second-page h2 {
    color: white;
    font-size: 3em;
    padding: 2em;
    text-align: center;
    
}

.card_cnt {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
.card_cnt > div {
    width: 100%;
}

.second-page_card {
    color: white;
    width: 25%;
    height: 25em;
    border: 2px solid white;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    position: fixed;
    padding: 1.5em 5rem;
    z-index: 3;
}
nav ul a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin-left: 5rem;
    z-index: 2;
    transition: transform 100ms ease-in;
}

nav ul a:hover {
    color: rgb(106,212,219);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

  
nav ul a:after {
    content: '';
    display: block;
    width: 0;
    position: absolute;
    height: 0.2em;
    background: rgb(106,212,219);
    transition: cubic-bezier(.77,0,.18,1) 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}


form {
    border: none;
    width: 90%;
}

button {
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5%;
    /* transition: background 200ms ease-in, color 200ms ease-in; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(106,212,219);
    transition: ease-out 0.4s;
    font-family: "Cornerstone", sans-serif;
}


