/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */

body {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 16rem));
    gap: 5rem;
    justify-content: center;
}

.card {
    height: 500px;
    width: 20em;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 20px grey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    align-items: center;
}
.card__image {
    height: 12rem;
    width: 100%;
    /* background: url("../player.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__team {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    /* background: url("../Team.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__staff {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    /* background: url("../staff.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__title {
    padding: 1rem;
    text-align: center;
}

.card__number {
    padding: 0 1rem;
    text-align: center;
}

.card__btn {
    padding: 1em;
    width: 80%;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid green;
    background: transparent;
    color: green;
    border-radius: 5%;
    /* transition: background 200ms ease-in, color 200ms ease-in; */
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .card__btn,
.card:hover .card__circle {
    background: green;
    color: white;
}

.card__circle {
    border: 3px solid black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
