* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    src: url('/fonts/Cornerstone.ttf');
    font-family: "Cornerstone";
}

body {
    margin: 0;
    font-family: 'Cornerstone', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} */

nav {
    display: flex;
    justify-content: space-between;
    background: white;
    justify-content: flex-end;
}

.logo {
    position: fixed;
    max-width: 90vw;
    height: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    
}

.logo-fixed {
    position: fixed;
    width: 15%;
    height: 15%;
    top: 1.5rem;
    left: 0;
    transform: translate(-0%, -45%);
    z-index: 3;
}

.home {
    height: 100vh;
    background-color: black;
}

.nav_bg {
    height: 10gvh;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 2;
}

.first-page {
    height: 120vh;
    background-image: url("../../public/images/backround.svg");
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.first-page h1 {
    font-size: 3em;
    text-align: center;
    padding: 2em;
    color: white;
}

.connections {
    height: 70%;
}

.second-page {
    min-height: 100vh;
    background-color: black;
}

.second-page h2 {
    color: white;
    font-size: 3em;
    padding: 2em;
    text-align: center;
    
}

.card_cnt {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
.card_cnt > div {
    width: 100%;
}

.second-page_card {
    color: white;
    width: 25%;
    height: 25em;
    border: 2px solid white;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    position: fixed;
    padding: 1.5em 5rem;
    z-index: 3;
}
nav ul a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin-left: 5rem;
    z-index: 2;
    transition: transform 100ms ease-in;
}

nav ul a:hover {
    color: rgb(106,212,219);
    transform: scale(1.2);
    -moz-transition: all .3s ease-in-out; 
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out; 
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

  
nav ul a:after {
    content: '';
    display: block;
    width: 0;
    position: absolute;
    height: 0.2em;
    background: rgb(106,212,219);
    transition: cubic-bezier(.77,0,.18,1) 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}


form {
    border: none;
    width: 90%;
}

button {
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5%;
    /* transition: background 200ms ease-in, color 200ms ease-in; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(106,212,219);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-family: "Cornerstone", sans-serif;
}

@import "./card.css";
@import "./login.css";
@import './formInput.css';
@import './homepage.css';
@import './register.css';
@import './UI_card.css';
@import './userInterface.css';

