:root {
  --primary: white;
  --secondary: black;
  --dark: #212121;
  --light: #f3f3f3;
  --clr-neon: #31c9b2;
  --clr-bg: #17574e;
}

.players__list {
  background-image: url('/images/backk.png');
}

.card-wrapper {
  padding-top: 3em;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */


.btn {
  font-weight: bold;
  width: 130px;
  height: 50px;
}



/* body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
} */

.list-card {
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  display: flex;
  width: 30%;
  min-height: 30em;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
}

.list-card__inner {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.list-card__inner.is-flipped {
  transform: rotateY(180deg);
}

.list-card__face {
  position: absolute;
  width: 100%;
  padding: 1em 1em;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.list-card__face--front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-card__face--front .list-card__cnt {
  color: black;
  font-size: 20px;
}


.list-card__cnt ul {
  list-style: none;
  text-decoration: none;
  max-width: 90%;
}

.list-card__cnt ul li {
  margin-top: 30px;
  
}

.textik {
  color:black;
}

.list-card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.list-card__content {
  width: 100%;
  height: 100%;
}

.list-card__header {
  position: relative;
  padding: 30px 30px 40px;
}
 
.list-card__header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: black;
  border-radius: 0px 0px 50% 50%;
}


.list-card__header h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.list-card__body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-card__body ul li {
  margin-top: 15px;
}

.list-card__body button {
  margin-top: 50px;
}

.list-card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.list-card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

.list-card__cnt {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.list-card__cnt button {
  margin-top: 30px;
}

.neon-button {
  font-size: 2rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  bottom: 0.3em;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
z-index: 5;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}