.login__section {
    height: 100vh;
    background-image: url(/images/backk.png);
    background-position: center;
}

.login {
    height: 28em;
    display: flex;
    flex-direction: column;
    margin: 15em auto;
    width: 20em;
    align-items: center;
    border: 5px solid black;
    padding: 3em 2em;
    background-color: white;
    box-shadow: inset 0px 0px 5px 5px black;
}

.login__container {
    display: flex;
    flex-direction: column;
}
  
.login__title    {
    color: black;
    text-align: center;
    padding: 0.5em 0;
}

.login__button {
    height: 3.5em;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5%;
    /* transition: background 200ms ease-in, color 200ms ease-in; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(106,212,219);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-family: "Cornerstone", sans-serif;
}

.login__button:hover {
    color: white;
    border: 2px solid black;
    box-shadow: inset 15.8em 0 0 0 rgb(106,212,219);
}

.login input {
    width: 15em;
}


.login label {
    font-size: 0.9em;
    color: gray;
    margin-right: 2em;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;  
}

input:invalid[focused="true"] ~ span{
    display: block;
}
