.register {
  height: 45em;
  display: flex;
  flex-direction: column;
  margin: 20em auto;
  width: 25em;
  align-content: center;
  align-items: center;
  border: 5px solid black;
  padding: 1em 3em;
  justify-content: center;
  justify-items: center;
}
  
h1 {
  color: black;
  text-align: center;
}

  
.register__button {
  height: 3.5em;
  width: 80%;
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem;
  border: 2px solid black;
  background: transparent;
  color: black;
  border-radius: 5%;
  /* transition: background 200ms ease-in, color 200ms ease-in; */
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(106,212,219);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  font-family: "Cornerstone", sans-serif;
} 

.register__button:hover {
  color: white;
  border: 2px solid black;
  box-shadow: inset 15.8em 0 0 0 rgb(106,212,219);
}

.register input {
  width: auto;
}

.login__redirect {
  color: grey;
  font-size: 1.5em;
}

.login__redirect:hover {
  color: rgb(106,212,219);
}